@import url(https://fonts.googleapis.com/css?family=Playpen%20Sans);


* {
  font-family: "Playpen Sans", sans-serif;
}

html {
  min-height: 80%;
  margin: 0;
}

.content {

  text-align: center;
  width: 80vw;
  padding-top: 5vw;
  margin: auto;
  background-color: rgba(253,244,245,255);
  border: 1px solid rgba(35,46,129,255);

  align-items: center;
  text-align: center;
  color: rgba(46,53,146,255);

  padding: 2vw;
  
}

body {
  
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: repeat-x;
    min-height: 100%;

}

#text {
  margin: auto;
}

#image {
  height: 24vw;
  margin: auto;
  object-fit: cover;
}

/*
#box {
  border: 1px solid rgba(35,46,129,255);
  font-family: Verdana, Tahoma, Helvetica, sans-serif;
  width: 80vw;
  height: 40vw;
  color: rgba(46,53,146,255);
  background-color: rgba(253,244,245,255);  
  margin: auto;
  text-align: center;
  overflow: auto;
  
  margin: auto;
}
*/

.content ol {
  text-align: center;
  display: table;
  margin: auto;
  max-height: 2vw;
}

.column {
  float: left;
  margin: auto;
  width: 50%;
  box-sizing: border-box;
  
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
  body {
    height: 90vh;
  }
}

#input p {
  font-size: 2em;

}

#mydata {
  margin: 20px;
  width: 80%;
  margin: auto;
  background: white;
  height: 60px;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  border: 1px solid rgba(35,46,129,255);
  font-family: "Playpen Sans", sans-serif;
}

#options {
  width:100%;
  display: block;
  padding: 20px 0px 20px 0px;
  font-size: 1.5em;
}

button {
  border-radius: 25px;
  text-align: center;
  margin: auto;
  background-color: rgba(199,112,198,255);
  color:white;
  border-radius: 25px;
}

button:hover {
  background-color: rgba(46,53,146,255);
}

#options:after {
  content: "";
  clear: both;
  display: table;
}
