@import url(https://fonts.googleapis.com/css?family=Playpen%20Sans);


* {
  font-family: "Playpen Sans", sans-serif;
}

html {
  min-height: 80%;
  margin: 0;
}

.content {

  text-align: center;
  width: 80vw;
  padding-top: 5vw;
  height: 85vh;
  margin: auto;
  background-color: rgba(253, 244, 245, 255);
  border: 1px solid rgba(35, 46, 129, 255);

  align-items: center;
  text-align: center;
  color: rgba(46, 53, 146, 255);

  overflow: scroll;
  scrollbar-color:  #c895aa #b56cce;

}

head, body, footer {

  background-image: linear-gradient(#5a9dbe, #8aa7be, #c895aa, #b56cce, #8b51d3, #b56cce, #c895aa, #8aa7be, #5a9dbe);
  background-size: cover;

} 

#text {
  margin: auto;
}

#image {
  height: 20vw;
  margin: auto;
  object-fit: cover;
}


ol {
  text-align: center;
  display: table;
  margin: auto;
  height: 20%;
  overflow-y: auto;
}

.column {
  float: left;
  margin: auto;
  width: 50%;
  height: 45vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#num1, #num2{
  width: 2vw;

}
.row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    height:fit-content;
  }

  body {
    height: 90vh;
  }
}

#input p {
  font-size: 2em;

}

#mydata {
  width: 75%;
  margin: auto;
  background: white;
  height: 50px;
  line-height: 50px;
  font-family: monospace;
  font-size: 1.25em;
  text-align: center;
  border: 1px solid rgba(35, 46, 129, 255);
  font-family: "Playpen Sans", sans-serif;
  display:table;
}

#options {
  width: 100%;
  display: block;
  padding: 20px 0px 20px 0px;
  font-size: 1.5em;
}

button {
  border-radius: 25px;
  text-align: center;
  margin: auto;
  background-color: rgba(199, 112, 198, 255);
  color: white;
  border-radius: 25px;
  font-size: 0.8em;
}

button:hover {
  background-color: rgba(46, 53, 146, 255);
}

#options:after {
  content: "";
  clear: both;
  display: table;
}